{% extends "base.twig" %}

{% block content %}
<div class="page-title">
  <div class="pe-container">
    <h1>&rarr; buscando: {{ search }}</h1>
  </div>
</div>
<div class="pe-spacer size70"></div>
<div class="pe-container">
  <div class="row-fluid">
    <section class="span8">
      {% for post in posts %}
        {% if post.post_type == 'post' %}
          {% include ['post-short.twig'] %}
        {% elseif post.post_type == 'show' %}
          {% include ['show-short.twig'] %}
        {% endif %}
      {% endfor %}
      <!--project pagination-->
      <div class="row-fluid project-pagination">
        {{function('wp_paginate')}}
      </div>
    </section>
    <div class="span4 sidebar">
      {% include ['sidebar.twig'] %}
    </div>
  </div>
</div>
{% endblock %}