<div class="inner-spacer-left-lrg">          
  <!--sidebar-->  
  <!--search box-->
  <div class="widget widget_search">
    <form class="search-form" action="{{site.url}}" id="wf-form-search-form" method="get" role="search">
      <input name="s" id="s" type="text" class="" value="" placeholder="Outro show?">
      <button class="icon-search" type="submit"></button>
    </form>
  </div>
  <!--featured work widget-->
  <div class="widget widget_featured">
    <div class="project-item">
      <h6><a href="{{site.url}}">&rarr; Retorne para o site</a></h6>
    </div>
  </div>  
  <!-- contact details widget -->
  <div class="widget widget_contact">
    <h3>Fale com a gente</h3>
    <div class="email">
      <span class="icon-mail"></span>
      <p><a href="mailto:branco@brancoproducoes.com.br">branco@brancoproducoes.com.br</a></p><br/>
      <span class="icon-info-circled"></span>
      <p>+55 51 3231 4142</p><br/>
      <span class="icon-clock"></span>
      <p class="hours">
        Seg-Sex: 9:00 | 12:00 &rarr; 14:00 | 18:00<br>
        &rarr; Auxiliadora<br>
        &rarr; Porto Alegre | RS<br>
      </p>      
    </div>
  </div>
</div>